body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.colors {
  color1: #064273 (6, 66, 115) #76b6c4 (118, 182, 196) #7fcdff (127, 205, 255)
    #1da2d8 (29, 162, 216) #def3f6 (222, 243, 246);
}
