.logoBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  display: block;
  text-indent: -9999px;
  width: 45px;
  height: 45px;
  margin-right: 5px;
}
.heading {
  margin-left: 0px;
  color: #064273;
  font-size: 0.9em;
}
