.RoundButton {
  background-color: #1da2d8;
  color: white;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  font-size: 2em;
  font-weight: 400;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
